:root {
	--bg-color: #2e2e31;
	--snow: #e3e3e3;
	--primary: "";
	--accent: #eb356c;
}
/* Reset and start settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input[type='file'] {
	display: none;
}

hr {
	margin: 10px 0;
}

html,
body,
main {
	height: calc(100vh);
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9rem;
}

body {
	background: var(--bg-color);
}

header img {
	max-width: 50px;
	max-height: 50px;
	margin-right: 8px;
}

header h1 {
	color: var(--snow);
}

main {
	display: flex;
}

h2 {
	color: var(--snow);
}

hr {
	border: 1px solid #ddd;
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

/* TOOLS */
.tools {
	max-width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.tools hr {
	width: 100%;
}

h2 {
	text-align: center;
}

#left {
	display: flex;
	align-items: center;
	padding: 20px;
}

/* brush stroke */
input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background: transparent;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 25px;
	border: 1px solid #b7b7b7;
}

input[type=range]::-webkit-slider-thumb {
	height: 17px;
	width: 7px;
	border-radius: 4px;
	border: none;
	border: 2px solid var(--snow);
	background: var(--bg-color);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	border: 1px solid #b7b7b7;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 25px;
	border: 1px solid #b7b7b7;
}

input[type=range]::-moz-range-thumb {
	height: 17px;
	width: 7px;
	border-radius: 4px;
	border: none;
	border: 2px solid var(--snow);
	background: var(--bg-color);
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	transition: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 20px 0;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	border-radius: 50px;
	border: 1px solid #b7b7b7;
}

input[type=range]::-ms-fill-upper {
	border-radius: 50px;
	border: 1px solid #b7b7b7;
}

input[type=range]::-ms-thumb {
	height: 17px;
	width: 7px;
	border-radius: 50%;
	border: 2px solid var(--snow);
	background: var(--bg-color);
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	border: 1px solid #b7b7b7;
}

input[type=range]:focus::-ms-fill-upper {
	border: 1px solid #b7b7b7;
}

.d-flex div {
	margin: 0 5px;
}

input[type='color'] {
	width: 40px;
	border: none;
	outline: none;
}

.btn {
	display: inline-block;
	text-align: center;
	border: none;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	border-radius: .25rem;
	cursor: pointer;
	margin: 5px 0;
	background: var(--snow);
	color: var(--bg-color);
}

.btn-primary {
	color: #fff;
	background-color: var(--accent);
}

.btn-group p {
	margin: 0 10px;
}

.btn.active {
	background: var(--bg-color);
	color: var(--snow);
	border: 1px solid var(--snow);
}

/* CANVAS */
#right {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	border: 1px solid #ccc;
	box-shadow: 0px 2px 28px 12px rgba(0, 0, 0, .5);
	cursor: none;
}

/* brush settings panel */
.panel {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.panel:not(.show) {
	display: none;
}

.panel .overlay {
	position: fixed;
	border: 1px solid var(--snow);
	padding: 16px;
	border-radius: 8px;
	background: var(--bg-color);
	left: 80px;
	top: 320px;
	color: var(--snow);
	box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, .2);
}

.panel h4 {
	padding-bottom: 16px;
}

.panel #size {
	display: block;
	width: max-content;
	padding-left: 8px;
}

.panel .styles-wrapper {
	padding-top: 8px;
}

.panel .backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .1);
	left: 0;
	top: 0;
}

/* Custom cursor */
.custom-cursor {
	position: absolute;
	content: "";
	display: block;
	outline: 1px solid gray;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	pointer-events: none;
}

.custom-cursor.mirror {
	opacity: .5;
}
.custom-cursor.mirror:not(.show) {
	display: none;
}